fastapi>=0.110
uvicorn[standard]>=0.29
python-multipart>=0.0.9
pandas>=2.0
numpy>=1.26
openpyxl>=3.1
pyarrow>=15.0
matplotlib>=3.8

# bibliotecas de análise automática
ydata-profiling>=4.6
sweetviz>=2.3
